#insert{
    margin-bottom: 10px;
    height: 380px;
    width: 90%;
}
#select{
    margin-bottom: 10px;
    height: 380px;
    width: 90%;
}
#raw_sql{
    margin-bottom: 10px;
    height: 380px;
    width: 90%;
}
