

#gym{
    width:200px;
    float:left;
    clear:left;
}
#human{
    width:200px;
    float:right;
    clear:right;
}
#competition{
    width:200px;
    float:right;
}

#seminar{
    width:200px;
    float:left;
    clear:left;
}

#structure{
    width:200px;
    float:left;
    clear:left;
}

#exam{
    width:200px;
    float:right;
    clear:right;
}

#gym:hover { background: #f0f0f0; }
#human:hover { background: #f0f0f0; }
#competition:hover { background: #f0f0f0; }
#seminar:hover { background: #f0f0f0; }
#structure:hover { background: #f0f0f0; }
#exam:hover { background: #f0f0f0; }