#add{
    background:#C0C0C0;
    border:3px solid black;
    margin-bottom: 10px;
    height: 380px;
    width: 95%;
}
#use{
    background:#C0C0C0;
    border:3px solid black;
    margin-bottom: 10px;
    height: 380px;
    width: 95%;
}