#data{
    width:40%;
    max-width:40%;
    overflow: hidden;
    margin-bottom: 10px;
    float:left;
    clear:left;
}
#delete{
    overflow: hidden;
    margin-bottom: 10px;
    width:40%;
    max-width:40%;
    float:right;
    clear:right;
}
#update{
    overflow: hidden;
    margin-bottom: 10px;
    width:40%;
    max-width:40%;
    float:right;
}
#update_button{
    height: 36px;
    width: 200px;
}
#delete_button{
    height: 36px;
    width: 200px;
}

#block_3{
    overflow: hidden;
    margin-bottom: 10px;
    width:40%;
    max-width:40%;
    float:left;
    clear:left;
}

#block_5{
    overflow: hidden;
    margin-bottom: 10px;
    width:40%;
    max-width:40%;
    float:left;
    clear:left;
}

#block_6{
    width:40%;
    max-width:40%;
    overflow: hidden;
    margin-bottom: 10px;
    float:right;
    clear:right;
}

#block_7{
    width:40%;
    max-width:40%;
    overflow: hidden;
    margin-bottom: 10px;
    float:left;
    clear:left;
}

#block_8{
    width:40%;
    max-width:40%;
    overflow: hidden;
    margin-bottom: 10px;
    float:right;
    clear:right;
}

tr:hover { background: #dcefdc; }
tr.nice:nth-child(even):hover{background-color: #dcefdc;}

