{% extends "base.html" %}
{% block content %}
<center><h1>Adding new object...</h1>
<form action="/query/insert" method="POST">
		{% if tables %}
			<b>Choose table:</b>
			<select name="table" size="1">
				{% for table in tables %}
				    <option value={{table}}>{{table}}</option>
				{% endfor %}
			</select>
		{% endif %}
		{% if columns%}
	    <ul>
			<table>
	    {% for column, fk_data in columns %}
			<tr>
	        <td><b>{{ column.name }}:</b></td>
	        <td>
				{% if fk_data != None %}
				{% if fk_data == [] %}
					<input type="text" name="{{column.name}}" readonly value="None">
					<p>Object could not be added - "{{column.name}}" field has no variants to be chosen from</p>
				{% else %}
					<select name="{{column.name}}" size="1">
						{% for data in fk_data %}
							<option value={{data[0]}}>{{data}}</option>
						{% endfor %}
					</select>
				{% endif %}
	    	{% elif 'date' == column.name or 'datestart' == column.name or 'dateend' == column.name or 'birthdate' == column.name %}
        		<input type="text" name="{{column.name}}" placeholder="dd-mm-yyyy" pattern="(0[1-9]|[12][0-9]|3[01])-(0[1-9]|1[012])-(19|20)\d\d">
        	{% else %}
        		<input type="text" name="{{column.name}}">
        	{% endif %}
			</td>
			</tr>
	    {% endfor %}
		</table>
	    </ul>
	    {% endif %}
	    {% if columns or tables %}
       		<input type="submit" name="my-form" value="Send" align="bottom">
        {% endif %}
</form>
</center>
{% if rand %}
	<center><img src="/static/icons/karate/{{rand}}.png" alt="karate" style="width:300px;height:300px;"></center>
{% else %}
	<center><img src="/static/icons/karate/3.png" alt="karate" style="width:300px;height:300px;"></center>
{% endif %}
{% endblock %}