{% extends "base.html" %}
{% block content %}

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='clickable_row.css') }}">
<form action="/query/raw_sql/use/{{query}}" method="POST">
    <center>
    <h1>Enter parameter's values</h1>
    {% if name %}
      <b>Name:</b> {{ name }}
    {% endif %}
    <br>
    {% if description != None and description != '' %}
      <b>Description:</b> {{ description }}
    {% endif %}
    <br>
    <br>
    {% if params %}
        <table class="nice" border="1">
            <tr class="nice">
                    <th class="nice"> Parameter </th>
                    <th class="nice"> Value </th>
            </tr>
            {% for param in params %}
                <tr class="nice">
                    <td class="nice"> {{param}} </td>
                    <td class="nice"> <input type="text" name="{{param}}"> </td>
                </tr>
            {% endfor %}
        </table>
        <p><br></p>
    </center>
    {% endif %}
    <input type="submit" name="my-form" value="Send" align="bottom">
</form>
{% endblock %}
