{% extends "base.html" %}
{% block content %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='insert.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='clickable_cell.css') }}">
<center>
<h1>Getting information...</h1>
<form action="/query/select" method="POST">
		<!--{% if tables %}
			<p><b>Choose table:</b>
			<select name="table" size="1">
				{% for table in tables %}
				    <option value={{table}}>{{table}}</option>
				{% endfor %}
			</select>
		{% endif %}
        {% if columns or tables %}
       		<input type="submit" id="select-button" name="my-form" value="Send">
        {% endif %}-->
				{% if tables %}
			<p></p>
			<p></p>
			<p></p>
			<table>
				<tr>
					<td> <a href={{url_for('select', table = 'Gym')}}>  <center> <div id="gym">Gym</div> </center> </a> </td>
					<td> <a href={{url_for('select', table = 'Human')}}> <center> <div id="human">Human</div> </center> </a> </td>
					<td> <a href={{url_for('select', table = 'Competition')}}> <center> <div id="competition">Competition</div> </center> </a> </td>
				</tr>
				<tr>
					<td> <a href={{url_for('select', table = 'Seminar')}}> <center> <div id="seminar">Seminar</div> </center> </a> </td>
					<td> <a href={{url_for('select', table = 'Structure')}}> <center> <div id="structure">Structure</div> </center> </a> </td>
					<td> <a href={{url_for('select', table = 'Exam')}}> <center> <div id="exam">Exam</div> </center> </a> </td>
				</tr>
			</table>
		{% endif %}
</form>
</center>
{% if rand %}
	<center><img src="/static/icons/karate/{{rand}}.png" alt="karate" style="width:300px;height:300px;" ></center>
{% else %}
	<center><img src="/static/icons/karate/3.png" alt="karate" style="width:300px;height:300px;"></center>
{% endif %}
{% endblock %}