{% extends "/queries/single/single_base.html" %}
{% block single_content %}
<h1>Not done yet</h1>
<form action="/single/{{table}}/{{id}}" method="POST">
    <div class="nice" id="block_3">
            <center><h1>
                <details>
                    <summary>
                        As coach
                    </summary>
                    <br>
                    <table class="nice" cellpadding="10" width="100%" border="1">
                        <tr class="nice">
                            <th class="nice">Category</th>
                            <th class="nice">Datestart</th>
                        </tr>
                        <tr class="nice">
                            {% if coach_data != None %}
                                <td class="nice" height="50"> {{ coach_data.category }} </td>
                                <td class="nice" height="50"> {{ coach_data.datestart }} </td>
                            {% endif %}
                        </tr>
                        <tr class="nice">
                            {% if coach_data != None %}
                                <td class="nice" height="50"> <input class="input" type="text" name="new_category" style="width:100%" value="{{ coach_data.category }}"></td>
                                <td class="nice" height="50"> <input class="input" type="text" name="new_datestart" style="width:100%" pattern="(0[1-9]|[12][0-9]|3[01])-(0[1-9]|1[012])-(19|20)\d\d" value="{{ coach_data.datestart }}"></td>
                            {% else %}
                                <td class="nice" height="50"> <input class="input" type="text" name="new_category" style="width:100%" placeholder="New category"> </td>
                                <td class="nice" height="50"> <input class="input" type="text" name="new_datestart" style="width:100%" placeholder="New datestart:dd-mm-yyyy" pattern="(0[1-9]|[12][0-9]|3[01])-(0[1-9]|1[012])-(19|20)\d\d"> </td>
                            {% endif %}
                        </tr>
                    </table>
                    <h1><button class="button button1" name="update_coach" value="Update coach" style="width:100%;height:70px;">Update coach</button></h1>
                    Coaching history
                    <table class="nice" cellpadding="10" width="100%" border="1">
                        <tr class="nice">
                            <th class="nice">Sportsman</th>
                            <th class="nice">Datestart</th>
                            <th class="nice">Dateend</th>
                        </tr>
                        {% for line in coach_c_history %}
                        <tr class="nice">
                            <td class="nice" height="50"> <a href={{url_for('show_single', table = 'Human', id = line[1].id)}}> {{ line[1].firstname }} {{ line[1].surname }} </a> </td>
                            <td class="nice" height="50"> <a href={{url_for('show_single', table = 'Human', id = line[1].id)}}> {{ line[0].datestart }} </a> </td>
                            {% if line[0].dateend %}
                            <td class="nice" height="50"> <a href={{url_for('show_single', table = 'Human', id = line[1].id)}}> {{ line[0].dateend }} </a> </td>
                            {% else %}
                            <td class="nice" height="50">  <input type="submit" name="stop_coaching" value="Stop {{line[0].id}}" align="bottom" style="width:100%;height:100%;"> </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </table>
                    <h5 style="margin-bottom:5px;">Add student</h5>
                    <select name="add_human_student" size="1">
                        {% for line in available_student %}
                            <option value={{line.id}}>{{line.short_data()}}</option>
                        {% endfor %}
                    </select>
                    <input class="input" type="text" name="datestart_student" placeholder="datestart: dd-mm-yyyy" pattern="(0[1-9]|[12][0-9]|3[01])-(0[1-9]|1[012])-(19|20)\d\d">
                    <input class="button button1" type="submit" name="add_student" value="Add" style="width:100%;height:70px;"  align="bottom">
                </details>
            </h1></center>
        <p></p>
    </div>
    <div class="nice" id="block_5">
            <center><h1>
                <details>
                    <summary>
                        As sportsman
                    </summary>
                    <br>
                    <table class="nice" cellpadding="10" width="100%" border="1">
                        <tr class="nice">
                            <th class="nice">Category</th>
                            <th class="nice">Datestart</th>
                        </tr>
                        <tr class="nice">
                            {% if sportsman_data.category != None %}
                                <td class="nice" height="50"> {{ sportsman_data.category }} </td>
                                <td class="nice" height="50"> {{ sportsman_data.datestart }} </td>
                            {% endif %}
                        </tr>
                        <tr class="nice">
                            {% if coach_data != None %}
                                <td class="nice" height="50"> <input class="input" type="text" name="new_category_sportsman" style="width:100%" value="{{ sportsman_data.category.category }}"></td>
                                <td class="nice" height="50"> <input class="input" type="text" name="new_datestart_sportsman" style="width:100%" pattern="(0[1-9]|[12][0-9]|3[01])-(0[1-9]|1[012])-(19|20)\d\d" value="{{ sportsman_data.category.datestart }}"></td>
                            {% else %}
                                <td class="nice" height="50"> <input class="input" type="text" name="new_category_sportsman" style="width:100%" placeholder="New category"> </td>
                                <td class="nice" height="50"> <input class="input" type="text" name="new_datestart_sportsman" style="width:100%" placeholder="New datestart:dd-mm-yyyy" pattern="(0[1-9]|[12][0-9]|3[01])-(0[1-9]|1[012])-(19|20)\d\d"> </td>
                            {% endif %}
                        </tr>
                    </table>
                    <h1><button class="button button1" name="update_sportsman" value="Update sportsman" style="width:100%;height:70px;">Update sportsman</button></h1>
                    Competitive history
                    <table class="nice" cellpadding="10" width="100%" border="1">
                        <tr class="nice">
                            <th class="nice">Competition</th>
                            <th class="nice">Datestart</th>
                            <th class="nice">Result</th>
                        </tr>
                        {% for line in sportsman_comp_history %}
                        <tr class="nice">
                            <td class="nice" height="50"> {{ line[1].name }} </td>
                            <td class="nice" height="50"> {{ line[1].datestart }} </td>
                            <td class="nice" height="50"> {{ line[0].result }} </td>
                        </tr>
                        {% endfor %}
                    </table>
                    Coaching history
                    <table class="nice" cellpadding="10" width="100%" border="1">
                        <tr class="nice">
                            <th class="nice">Coach</th>
                            <th class="nice">Datestart</th>
                        </tr>
                        {% for line in sportsman_c_history %}
                        <tr class="nice">
                            <td class="nice" height="50"> <a href={{url_for('show_single', table = 'Human', id = line[1].id)}}> {{ line[1].firstname }} {{ line[1].surname }} </a> </td>
                            <td class="nice" height="50"> <a href={{url_for('show_single', table = 'Human', id = line[1].id)}}> {{ line[0].datestart }} </a> </td>
                        </tr>
                        {% endfor %}
                    </table>
                </details>
            </h1></center>
        <p></p>
    </div>
    <div class="nice" id="block_6">
            <center><h1>
                <details>
                    <summary>
                        As judge
                    </summary>
                    <br>
                    <table class="nice" cellpadding="10" width="100%" border="1">
                        <tr class="nice">
                            <th class="nice">Category</th>
                            <th class="nice">Datestart</th>
                        </tr>
                        <tr class="nice">
                            {% if coach_data != None %}
                                <td class="nice" height="50"> {{ judge_data.category }} </td>
                                <td class="nice" height="50"> {{ judge_data.datestart }} </td>
                            {% endif %}
                        </tr>
                        <tr class="nice">
                            {% if coach_data != None %}
                                <td class="nice" height="50"> <input class="input" type="text" name="new_category_judge" style="width:100%" value="{{ judge_data.category }}"></td>
                                <td class="nice" height="50"> <input class="input" type="text" name="new_datestart_judge" style="width:100%" pattern="(0[1-9]|[12][0-9]|3[01])-(0[1-9]|1[012])-(19|20)\d\d" value="{{ judge_data.datestart }}"></td>
                            {% else %}
                                <td class="nice" height="50"> <input class="input" type="text" name="new_category_judge" style="width:100%" placeholder="New category"> </td>
                                <td class="nice" height="50"> <input class="input" type="text" name="new_datestart_judge" style="width:100%" placeholder="New datestart:dd-mm-yyyy" pattern="(0[1-9]|[12][0-9]|3[01])-(0[1-9]|1[012])-(19|20)\d\d"> </td>
                            {% endif %}
                        </tr>
                    </table>
                    <h1><button class="button button1" name="update_judge" value="Update judge" style="width:100%;height:70px;">Update coach</button></h1>

                </details>
            </h1></center>
        <p></p>
    </div>
    <div class="nice" id="block_7">
            <center><h1>
                <details>
                    <summary>
                        Seminars
                    </summary>
                    <br>
                    Participated
                    <table class="nice" cellpadding="10" width="100%" border="1">
                        <tr class="nice">
                            <th class="nice">Name</th>
                            <th class="nice">Place</th>
                            <th class="nice">Datestart</th>
                        </tr>
                        {% for line in seminar_history %}
                        <tr class="nice">
                            <td class="nice" height="50"> <a href={{url_for('show_single', table = 'Seminar', id = line.id)}}> {{ line.name }} </a> </td>
                            <td class="nice" height="50"> <a href={{url_for('show_single', table = 'Seminar', id = line.id)}}> {{ line.place }} </a> </td>
                            <td class="nice" height="50"> <a href={{url_for('show_single', table = 'Seminar', id = line.id)}}> {{ line.datestart }} </a> </td>
                        </tr>
                        {% endfor %}
                    </table>
                </details>
            </h1></center>
        <p></p>
    </div>
    <div class="nice" id="block_8">
            <center><h1>
                <details>
                    <summary>
                        Exams
                    </summary>
                    <br>
                    Participated
                    <table class="nice" cellpadding="10" width="100%" border="1">
                        <tr class="nice">
                            <th class="nice">Date</th>
                            <th class="nice">Place</th>
                            <th class="nice">Result</th>
                        </tr>
                        {% for line in exam_p_history %}
                        <tr class="nice">
                            <td class="nice" height="50"> <a href={{url_for('show_single', table = 'Exam', id = line[1].id)}}> {{ line[1].date }} </a> </td>
                            <td class="nice" height="50"> <a href={{url_for('show_single', table = 'Exam', id = line[1].id)}}> {{ line[1].place }} </a> </td>
                            <td class="nice" height="50"> <a href={{url_for('show_single', table = 'Exam', id = line[1].id)}}> {{ line[0].result }} </a> </td>
                        </tr>
                        {% endfor %}
                    </table>
                    Judged
                    <table class="nice" cellpadding="10" width="100%" border="1">
                        <tr class="nice">
                            <th class="nice">Date</th>
                            <th class="nice">Place</th>
                        </tr>
                        {% for line in exam_j_history %}
                        <tr class="nice">
                            <td class="nice" height="50"> <a href={{url_for('show_single', table = 'Exam', id = line.id)}}> {{ line.date }} </a> </td>
                            <td class="nice" height="50"> <a href={{url_for('show_single', table = 'Exam', id = line.id)}}> {{ line.place }} </a> </td>
                        </tr>
                        {% endfor %}
                    </table>
                </details>
            </h1></center>
        <p></p>
    </div>
</form>
{% endblock %}
