{% extends "base.html" %}
{% block content %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='single.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='clickable_row.css') }}">
<center><h1>{{table}}</h1></center>
<div id="data">
		<center><h1>
			<details>
				<summary>
							Data
				</summary>
					{% if data %}
						<table cellpadding="10" width="100%" border="1">
							<tr>
								<th>Column</th>
								<th>Value</th>
							</tr>
							{% for col, val, fk in data %}
								<tr>
									<td height="50">{{ col.name }}</td>
									<td height="50">{{ val }}</td>
								</tr>
							{% endfor %}
						</table>
					{% endif %}
			</details>
		</h1></center>
	<p></p>
</div>
<div id="update">
		<center>
			<h1>
				<details>
					<summary>
								Modify this object
					</summary>

					<table cellpadding="10" width="100%" border="1">
						<tr>
							<th>New value</th>
						</tr>
						{% for column, val, fk_data in data%}
							<tr>
								<td height="50">
									{% if column.name == "id" %}
										<input type="text" name="{{column.name}}" style="width:100%;background: #D3D3D3" readonly value="{{val}}">
									{% elif fk_data != None %}
										{% if fk_data == [] %}
											<input type="text" name="{{column.name}}" style="width:100%;background: #D3D3D3" readonly value="None" title="No variants to be chosen from">
										{% else %}
											<select name="{{column.name}}" size="1">
												{% for data in fk_data %}
													<option value={{data[0]}}>{{data}}</option>
												{% endfor %}
											</select>
										{% endif %}
									{% elif 'date' == column.name or 'datestart' == column.name or 'dateend' == column.name or 'birthdate' == column.name %}
										<input type="text" style="width:100%;" name="{{column.name}}" placeholder="dd-mm-yyyy" pattern="(0[1-9]|[12][0-9]|3[01])-(0[1-9]|1[012])-(19|20)\d\d">
									{% else %}
										<input type="text" style="width:100%;" name="{{column.name}}">
									{% endif %}
								</td>

							</tr>
						{% endfor %}
					</table>
					<h1><input type="submit" id="update_button" name="update_button" value="Update"></h1>

				</details>
			</h1>
		</center>
	<p></p>
</div>
<div id="delete">
	<center>
		<h1>
			<details>
				<summary>
					Delete this object
				</summary>
				<h1><input type="submit" id="delete_button" name="delete_button" value="Delete"></h1>
			</details>
		</h1>
	</center>
</div>
{% block single_content %}{% endblock %}
{% endblock %}