<html>
    <head>

      {% set rand_num = [1,2,3,4,5]|random() %}
      {% if rand_num == 1 %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicons/1.ico') }}">
      {% elif rand_num == 2 %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicons/2.ico') }}">
      {% elif rand_num == 3 %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicons/3.ico') }}">
      {% elif rand_num == 4 %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicons/4.ico') }}">
      {% elif rand_num == 5 %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicons/5.ico') }}">
      {% endif %}
      {% if title %}
      <title>{{title}} - Database web interface</title>
      {% else %}
      <title>Database web interface</title>
      {% endif %}
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='links_wo_underline.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='base.css') }}">
    </head>
      <body>
        <div>Database manipulation: <a href="/">Homepage</a></div>
        <hr color="#4CAF50";>
        {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
        <ul>
        {% for category, message in messages %}
          {% if category == 'error' %}
	        <img src="/static/icons/db/protect_error.png" alt="protect_error" style="width:25px;height:25px;">
          {% else %}
            <img src="/static/icons/db/db.png" alt="note" style="width:25px;height:25px;">
          {% endif %}
            {{ message }}
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
      </body>
  <div id="push_footer"></div>
  <footer>
      Course work, Denis Shchukin, 2016. Icons by <a href="http://icons8.com">icons8.com</a>
  </footer>
</html>