{% set rand_num = [1,2,3,4,5]|random() %}
      {% if rand_num == 1 %}
        <center><img src="/static/icons/karate/1.png" alt="karate" style="width:300px;height:300px;" ></center>
      {% elif rand_num == 2 %}
        <center><img src="/static/icons/karate/2.png" alt="karate" style="width:300px;height:300px;" ></center>
      {% elif rand_num == 3 %}
        <center><img src="/static/icons/karate/3.png" alt="karate" style="width:300px;height:300px;" ></center>
      {% elif rand_num == 4 %}
        <center><img src="/static/icons/karate/4.png" alt="karate" style="width:300px;height:300px;" ></center>
      {% elif rand_num == 5 %}
        <center><img src="/static/icons/karate/5.png" alt="karate" style="width:300px;height:300px;" ></center>
      {% endif %}